*.m4v
*.mkv
*.mov
*.mp3
*.mp4
*.ogg
*.ogv
*.webm
.DS_Store
.sass-cache
.tmp
bower_components
dist/
node_modules/
npm-debug.log*
selenium-debug.log*
*.sublime-workspace
test/bower_components
test/e2e/reports
test/unit/coverage
**/fullres/*
**/fullres/*
**/fullres/*

