/**
 * _main.sass
 */


@import '~normalize.css/normalize.css'
@import '~bootstrap/dist/css/bootstrap.css'
@import '~bootstrap-vue/dist/bootstrap-vue.css'

body
  margin: 0
  font-size: 1.2rem
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', Ubuntu, 'segoe ui', arial, sans-serif

img
  max-width: 100%

a
  color: $charcoal
